@font-face {
    font-family: 'SpaceMono';
    src: url(./fonts/SpaceMono-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url(./fonts/SpaceMono-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url(./fonts/SpaceMono-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SpaceMono';
    src: url(./fonts/SpaceMono-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'SpaceMono';
    box-sizing: border-box;
}

body {
    cursor: url('./cursor/main.svg'), auto;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.hero-section .left{
    height: 100vh;
    width: 100vh;
    flex-direction: column;
    flex: auto;
    display: flex;
    justify-content: center;
    padding-left: 10%;
}

.left h1 {
    font-size: 36px;
    margin-bottom: 16px;
}

.left p {
    font-size: 16px;
    margin-bottom: 64px;
}

.left label {
    background-color: black;
    color: white;
    width: 250px;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 16px 32px 0 rgba(102,138,165,0.9);
    cursor: url('./cursor/main-filled-light.svg'), auto;
}

.hero-section .right {
    height: 100vh;
    width: 100vh;
    flex: auto;
}

.chat-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 65vh;
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    max-width: 550px;
}

.scroll-container p {
    margin: 1rem;
}

.scroll-container .chat-container {
    align-self: start;
    margin-right: 50px;
}

.scroll-container button {
    align-self: flex-end;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 25px 25px ;
    width: 150px;
    min-height: 40px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 10px 32px 0 rgba(102,138,165,0.4);
    opacity: 0;
    transition: opacity 0.1s ease-in;
    transition: 0.2 ease-out;
}

.scroll-container button:hover {
    border: 3px solid black;
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: none;
}
