@font-face {
    font-family: 'SpaceMono';
    src: url(./fonts/SpaceMono-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url(./fonts/SpaceMono-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url(./fonts/SpaceMono-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SpaceMono';
    src: url(./fonts/SpaceMono-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'SpaceMono';
    box-sizing: border-box;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.one .left{
    height: 100vh;
    width: 100vh;
    flex-direction: column;
    flex: auto;
    display: flex;
    justify-content: center;
    padding-left: 10%;
}

.left h1 {
    font-size: 36px;
    margin-bottom: 16px;
}

.left p {
    font-size: 16px;
    margin-bottom: 64px;
}

.left label {
    background-color: black;
    color: white;
    width: 250px;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 16px 32px 0 rgba(102,138,165,0.9);
}

.one .right {
    height: 100vh;
    width: 100vh;
    flex: auto;
}

.two {
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
}

.chatWrapper p {
    margin: 16px;
}

.chatWrapper button {
    float: right;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 25px 0px ;
    width: 150px;
    height: 40px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 16px 32px 0 rgba(102,138,165,0.4);
    opacity: 0;
    transition: opacity 0.1s ease-in;
}
